<div class="comment comment-header">
<span class="comment-author">
  <strong>Author:</strong>
  <%= comment.author %>
</span>
<span class="comment-email">
  <strong>Email:</strong>
  <%= comment.email %>
</span>
<span class="comment-time">
	<%= comment.created_at.strftime("%x: %I:%M %p") %>
</span>
</div>


<div class="comment comment-body">
<p>
  <%= comment.content %>
</p>
</div>
